body {
  background-color: var(--fs-color-warning-100);
}

body, p, div, td, th {
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: var(--fs-color-warning-800);
}

a {
  color: var(--fs-color-secondary-500);
}

li {
  margin-bottom: 11px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  display: inline-block;
  padding: 6px 16px;
  border: 1px solid var(--fs-color-light);
  background-color: var(--fs-color-primary-500);
  color: var(--fs-color-light) !important;
  font-weight: bold;
  border-radius: 8px;
}

a.button:hover {
  border: 1px solid var(--fs-color-primary-500);
  background-color: var(--fs-color-light);
  color: var(--fs-color-primary-500) !important;
  text-decoration: none !important;
}

.border {
  padding: 10px;
  border-top: 1px solid var(--fs-color-primary-500);
  border-bottom: 1px solid var(--fs-color-primary-500);
  background-color: var(--fs-color-light);
}
