
/* TABLESORTER */
div.tablesort-wrapper {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
  }

  table.tablesorter {
    text-align: left;
    width: 100%;
  }

  table.tablesorter thead {
    background-color: var(--fs-color-primary-500);
  }

  table.tablesorter thead tr th, table.tablesorter tfoot tr th {

    background-color: var(--fs-color-primary-500);
    color: var(--fs-color-light);
    border: 0 solid var(--fs-color-light);
    padding: 8px;
  }

  table.tablesorter thead tr .header {
    /*background-image: url(~img/bg.gif); MISSING */
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  table.tablesorter tbody td {
    color: var(--fs-color-primary-400);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
    paddin-right: 4px;
    background-color: var(--fs-color-light);
    vertical-align: middle;
    height: 50px;
  }

  table.tablesorter tbody tr.odd td {
    background-color: var(--fs-color-gray-100);
  }

  table.tablesorter thead tr .headerSortUp {
    /*background-image: url(~img/asc.gif); MISSING */
  }

  table.tablesorter thead tr .headerSortDown {
    /*background-image: url(~img/desc.gif); MISSING */
  }


  table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: var(--fs-color-primary-400);
  }

  table.tablesorter tbody tr.odd td {
    background-color: var(--fs-color-light);
  }

  table.tablesorter tbody tr:hover td {
    background-color: var(--fs-color-primary-500);
    color: var(--fs-color-light) !important;
  }

  table.tablesorter tbody tr:hover td a {
    color: var(--fs-color-light) !important;
  }

  table.tablesorter tbody tr ul.toolbar {
    display: none;
  }
  table.tablesorter tbody tr:hover  ul.toolbar {
      display: block;
  }

  div.pager {
    background-color: var(--fs-color-primary-500);
    color: var(--fs-color-light);
    margin: 10px;
    padding: 10px;
  }

  .pagesize-wrapper {
    float: right;
  }

  .pagedisplay2 {
    margin: 0 5px;
  }

  .ui-button.ui-state-active {
    border: 0 !important;
  }

  /* TABLESORTER END */
