table.timetable {
  width: 100%;
}

table.timetable td {
  height: 20px;
  vertical-align: middle;
}

table.timetable select.nft-dow {
  width: 10rem;
}
table.timetable select.nfttime-hour,
table.timetable select.nfttime-min {
  width: 5rem;
}
table.timetable input.fetchercount {
  width: 5rem;
}

table.timetable button.nft-remove {
  float: right;
  height: 30px;
}

table.timetable button.nft-remove .ui-icon {
  transform: scale(1.25);
}
