
## JAVASCRIPT / NODE
node_modules
**/node_modules

**/.npm
**/.env
**/.cache
**/.yarnrc
**/yarn-error.log
**/dist

client/test/_compiled.js
js/gen/script.js
css/gen/style.css
sw.js
sw.js.map

## PHP
/data/logg.txt
**/menus/

assets
api/**
data/**
cache/**
tmp/**
vendor/**
deployer/vendor/**
phinx/vendor/**
.php-cs-fixer.cache
revision.inc.php

tests/_output
tests/_support/_generated/

dev-assets

/images/
/nbproject/
maintenance_mode_on

var/**
builds

## Documentation
docs/?
docs/src/mdbook-plantuml-img
docs/book
docs/build
docs/db/build
.docusaurus
.cache-loader

*.swp
*.swo

## SYSTEM
.composer
.DS_Store
config/gitpod

am_cache
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*


