
## JAVASCRIPT / NODE
node_modules
**/node_modules

**/.npm
**/.env
**/.cache
**/.yarnrc
**/yarn-error.log
**/dist

client/test/_compiled.js
js/gen/script.js
css/gen/style.css
sw.js
sw.js.map

## PHP
/data/logg.txt
**/menus/

assets
api/**
data/**
cache/**
tmp/**
vendor/**
deployer/vendor/**
phinx/vendor/**
.php-cs-fixer.cache
revision.inc.php

tests/_output
tests/_support/_generated/

dev-assets

/images/
/nbproject/
maintenance_mode_on

var/**
builds

docs/?
docs/_book
docs/dist
docs/build
docs/src/database-tables-columns.md
docs/src/mdbook-plantuml-img/
docs/.config/configstore/update-notifier-npm.json

*.swp
*.swo

## SYSTEM
.composer
.DS_Store
config/gitpod

am_cache
.idea
