{# deprecated: use client/src/components/Avatar.vue instead #}
<span style="background-image:url({{ imageUrl }});"
      class="avatar size-{{ size }} sleepmode-{{ user.sleep_status }}"><i>&nbsp;</i>
</span>
