{% if items|length > 0 %}
<ul class="d-none d-sm-flex bread">
    {% for item in items %}
        {% if loop.last %}
            <li class="last">{{ item.name }}</li>
        {% else %}
            <li><a href="{{ item.href }}">{{ item.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
