{% extends 'layouts/default.twig' %}

{% block top %}
{% endblock %}

{% block main %}
    {{ content.top.html | raw }}
    <div class="container">
        <div class="row">
            <div class="col px-0">
                {{ content.main.html | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
