/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 .theme-api-markdown code {
  overflow: unset !important;
}

.api-method>.menu__link {
  align-items: center;
  justify-content: start
}

.api-method>.menu__link:before {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  text-transform: uppercase;
  width: 50px
}

.get>.menu__link:before {
  background-color: var(--ifm-color-primary);
  content: "get"
}

.get>.menu__link:before {
  background-color: var(--ifm-color-primary);
  content: "get"
}

.post>.menu__link:before {
  background-color: var(--openapi-code-green);
  content: "post"
}

.delete>.menu__link:before {
  background-color: var(--openapi-code-red);
  content: "del"
}

.put>.menu__link:before {
  background-color: var(--openapi-code-blue);
  content:"put";
}

.patch>.menu__link:before {
  background-color: var(--openapi-code-orange);
  content: "patch"
}
