.news-post {
  padding: 20px;
  border-bottom: 1px solid var(--fs-border-default);
}

.news-post h2 a {
  font-weight: unset;
}

.news-post img {
  float: left;
  margin-right: 15px;
}

.news-post.full img {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.news-post a:hover img {
  opacity: 0.7;
}

.news-post a.button {
  float: right;
}

.pager {
  text-align: center;
}

.pager a {
  display: inline-block;
  margin: 15px;
  font-size: 25px;
}

@media (max-width: 900px) {
  .news-post img {
    width: 100% !important;
    margin-bottom: 15px;
    margin-right: 0;
    float: none;
  }
}
