{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'vue-eventlist',
        component: 'event-list',
        props: {
            events: events
        }
    } %}
{% endblock %}

{% block right %}
    {% embed 'components/field.twig' with {'title': 'events.add_new_event'|trans, 'classes': ['ui-padding']} %}
    {% block content %}
        <p align="center"><a class="button" href="/?page=event&amp;sub=add&amp;bid={{ region.id }}">{{ 'events.add_new_event'|trans }}</a></p>
    {% endblock %}
    {% endembed %}
{% endblock %}
