.alert-broadcast .description {
    & a {
        text-decoration: underline;
    }
    & * {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 1350px) {
    .bootstrap .container {
        max-width: 1440px;
    }
}
