.disabledLoading {
    position: relative;
}
.disabledLoading::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fs-color-gray-alpha-10);
}
.disabledLoading::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    background: white url('/img/469.gif') no-repeat center center;
    border-radius: 20px;
    border: 1px solid var(--fs-color-gray-500);
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 10;
}
