@mixin icon {
    --size: 2.5rem;
    min-width: var(--size);
    min-height: var(--size);
    width: var(--size);
    height: var(--size);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    color: currentColor;
    text-decoration: none;
    line-height: 0;
}

.icon {
    @include icon;
}

.icon--small-container {
    --size: 1rem;
}

.icon--help {
    cursor: help;
}

.icon--small {
    --size: 1rem;
    font-size: 0.5rem;
}

.icon--big {
    --size: 2.5rem;
    font-size: 1.5rem;
}

.icon--rounded {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.icon--autosize {
    width: 100%;
    height: 100%;
}


/*
    For the Navigation
*/
.icon-nav {
    @include icon;
    --size: 1em;

    + .nav-text {
        margin-left: 0.5rem;
    }
}

.icon-subnav {
    @include icon;
    --size: 1rem;
    margin-right: 0.5rem;
}

.dropdown-item:focus .icon,
.dropdown-item:active .icon {
    & .img-thumbnail {
        color: var(--fs-color-primary-500);
    }
}
